.heading {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.heading span {
    font-size: 24px;
    color: #020082;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 13px;
}
.welcome{
    color: #182052;
    border: none;
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align:right;
}
.logout button {
    background-color: #182052;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

.navbar {
    background-color: #182052 ;
    margin-top: 8px;
}

.navbar .nav-item .nav-link {
    color: #fff ;
}

.dropdown-menu {
    background-color: #a5aaa8;
    list-style: none;
}

.dropdown-item {
    color: #fff4f7;
}

.dropdown-item:hover {
    background-color: #003870;
    color: #fff;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}
img{
    width:30px;
    height: 25px;
    margin-left: 10px;
}
.navbar-nav {
    list-style-type: none;
}