<configuration>

    <!-- Define appenders -->
    <appender name="employee" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%thread]) %highlight(%-5level) %logger{36} - %highlight(%msg) %d{dd/MM/YYYY HH:mm:ss}
                %n
            </pattern>
        </encoder>
    </appender>

    <!-- Define file appender-->
    <appender name="employeelog" class="ch.qos.logback.core.FileAppender">
        <file>C:\DLTE-JAVAFULLSTACK-SHREYAMPOOJARY-2024\review\employeeConsole\src\main\Employee.log
        </file> <!-- Define log file name and path -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>C:\DLTE-JAVAFULLSTACK-SHREYAMPOOJARY-2024\review\app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>1KB</maxFileSize>
        <maxHistory>1</maxHistory>
    </rollingPolicy>
    <!-- Root logger settings -->
    <root level="INFO">
        <appender-ref ref="employee"/>
        <appender-ref ref="employeelog"/> <!-- Attach file appender -->
    </root>

</configuration>